* {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

html,
body {
    margin: 0;
}

body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}

.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}

.menu {
    width: 15%;
    background-color: rgb(255, 255, 255);
    padding: 0px 20px 0px;
    font-family: Arial, Helvetica, sans-serif;

}

.header {
    background-color: #ffffff;
    min-height: 150px;
}

.content {
    background-color: rgb(255, 255, 255);
    min-height: 300px;
    padding: 0px 0px;
    margin-left: auto;
}

.footer {
    background-color: rgb(255, 255, 255);
    min-height: 150px;
}

.menu-item {
    padding: 8px 16px;
    float: left;
    width: 20;
    display: flex;
    outline: 0
    
}

a.menu-item {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-style: normal;
    text-decoration: rgb(15, 19, 16);
}
.menu {
    font-size: larger;
}


a:-webkit-any-link {
    color: black;
    cursor: pointer;
}

.adress {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    background-color: rgb(189, 228, 228);
    color: black;
    text-align: center;

}

h3 {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    padding-top: 0px;
}

table {
    border: solid 1px black;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    border: soli 1px gray;
}

table thead th {
    background-color: black;
    color: white;
}

table tbody tr:nth-child(even) td {
    background-color: #f1f1f1;
}

table tbody tr:hover td {
    background-color: #e9e9e9;
    cursor: pointer;
}

.end-page {
    font-size: 10px;
    color: #345978
}


input {
    margin: 5px;
}


img {
    margin: 5px;
    height: 250px;
    width: 1000px;
}

.form-contact {

    display: inline-block;
    
    margin-bottom: 5px;
}

.map {
   margin-left: 0px;
   margin-right: 10px;
   margin-bottom: 10px;
   display: inline-block;
}

#name{
    margin-left: 20px;
}

#e-mail {
    margin-left: 17px;
}

#map-tittle {
    display: inline-block;
}

.video1 {
    display:inline-block;
    margin-left: 0px;
}
b {
    font-size: 10px;
}
    

